# NOTE: we use pandas 0.22 for now since pandas_datareader don't support 0.23 yet
pandas
quandl
pandas_datareader
alpha_vantage
matplotlib
plotly
sklearn
scipy
fix_yahoo_finance
statsmodels
beautifulsoup4
python-bidi